<a href="https://colab.research.google.com/github/cesarrivera52/Concentracion/blob/main/Valores%20Nulos/2_ValoresNulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos librerias requeridas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## **Valores Nulos**

In [5]:
#Carga desde un archivo .xlsx sin indice
df= pd.read_csv('inmuebles2.csv',skiprows=1)

In [6]:
df.head()

,0,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,1,1,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.0,2133903.0,2004-06-19 00:00:00,Carmen
1,2,2,2004-01-01 00:00:00,Local,Venta,Girona,185.0,1945424.0,2004-04-19 00:00:00,Pedro
2,3,3,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82.0,NaN,2004-11-08 00:00:00,Joaquín
3,4,4,2004-01-02 00:00:00,Parking,Alquiler,Girona,285.0,NaN,2004-04-27 00:00:00,Jesús
4,5,5,2004-01-02 00:00:00,Suelo,Venta,Tarragona,152.0,185000.0,2004-07-10 00:00:00,María

In [7]:
#Eliminar columnas innecesarias
#axis=0 para filas
# axis=1 para columnas

data2=df.drop(['0','Referencia'],axis=1)
data2.head()

,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.0,2133903.0,2004-06-19 00:00:00,Carmen
1,2004-01-01 00:00:00,Local,Venta,Girona,185.0,1945424.0,2004-04-19 00:00:00,Pedro
2,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82.0,NaN,2004-11-08 00:00:00,Joaquín
3,2004-01-02 00:00:00,Parking,Alquiler,Girona,285.0,NaN,2004-04-27 00:00:00,Jesús
4,2004-01-02 00:00:00,Suelo,Venta,Tarragona,152.0,185000.0,2004-07-10 00:00:00,María

In [9]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3337 entries, 0 to 3336
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    3335 non-null   object
 1   Tipo          3335 non-null   object
 2   Operación     3336 non-null   object
 3   Provincia     3333 non-null   object
 4   Superficie    3333 non-null   float64
 5   Precio Venta  3331 non-null   float64
 6   Fecha Venta   2759 non-null   object
 7   Vendedor      2759 non-null   object
dtypes: float64(2), object(6)
memory usage: 208.7+ KB

In [8]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [10]:
#Identificar valores nulos por DF
valores_nulos=data2.isnull().sum().sum()
valores_nulos

1175

## **Métodos de Sustitución de Valores nulos**

In [11]:
#Realizamos una copia del df
data3=data2.copy()

**Metodo 1**

In [12]:
#Primer metodo de sustitucion de valores nulos
#Sustituir valores nulos con promedio o media
#El ,1 indica el numero de decimales que quiero trabajar
data3['Superficie']=data3['Superficie'].fillna(round(data2['Superficie'].mean(),1))

In [13]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

**Metodo 2**

In [14]:
#Sustituir valores nulos con mediana
data3['Precio Venta']=data3['Precio Venta'].fillna(round(data2['Precio Venta'].median(),1))

In [15]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta     578
Vendedor        578
dtype: int64

**Metodo 3**

Rellenar un valor numerico en concreto

In [18]:
#Sustituir valores nulos por un valor numérico en concreto
data3['Fecha Alta']=data3['Fecha Alta'].fillna(10)

In [19]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta     578
Vendedor        578
dtype: int64

**Metodo 4**

Sustituir valores nulos por un string en concreto

In [20]:
data3['Fecha Venta']=data3['Fecha Alta'].fillna('2030-06-19 00:00:00')

In [21]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

**Metodo 5**

Sustituir valores no nulos hacia adelante "forward fill" ('ffill')

In [22]:
#Filtro por columna
data3['Tipo']=data3['Tipo'].fillna(method='ffill')

<ipython-input-22-442631fa9f2c>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data3['Tipo']=data3['Tipo'].fillna(method='ffill')

In [23]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              0
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

**Metodo 6**

Sustituir valores no nulos hacia atras "backward fill" ('bfill')

In [24]:
#Filtro por columnas
data3['Operación']=data3['Operación'].fillna(method='bfill')

<ipython-input-24-39cfb0321812>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data3['Operación']=data3['Operación'].fillna(method='bfill')

In [25]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              0
Operación         0
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [26]:
#Filtro por columnas
data3['Provincia']=data3['Provincia'].fillna(method='bfill')

<ipython-input-26-1d43a8acc2b1>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data3['Provincia']=data3['Provincia'].fillna(method='bfill')

In [27]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              0
Operación         0
Provincia         0
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [28]:
#Filtro por columnas
data3['Vendedor']=data3['Vendedor'].fillna(method='ffill')

<ipython-input-28-21c08ed7de95>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data3['Vendedor']=data3['Vendedor'].fillna(method='ffill')

In [31]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64

In [30]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum().sum()
valores_nulos

0

## Metodo de Eliminacion de valores nulos

In [33]:
#Identificamos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [34]:
data4=data2.copy()

**Eliminamos filas con valores nulos**

In [38]:
#No se agrega nada para eliminar filas y 1 para eliminar columnas
data4=data4.dropna()
data4.head()

,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.0,2133903.0,2004-06-19 00:00:00,Carmen
1,2004-01-01 00:00:00,Local,Venta,Girona,185.0,1945424.0,2004-04-19 00:00:00,Pedro
4,2004-01-02 00:00:00,Suelo,Venta,Tarragona,152.0,185000.0,2004-07-10 00:00:00,María
5,2004-01-03 00:00:00,Industrial,Alquiler,Girona,131.0,953156.0,2004-09-05 00:00:00,Pedro
7,2004-01-03 00:00:00,Oficina,Venta,Girona,235.0,2158475.0,2004-10-31 00:00:00,Jesús

In [36]:
#Corroboramos valores nulos
valores_nulos=data4.isnull().sum()
valores_nulos

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64

*Comparamos DF3 (Sustitución) y DF4 (Eliminación)*

In [39]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3337 entries, 0 to 3336
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    3337 non-null   object
 1   Tipo          3337 non-null   object
 2   Operación     3337 non-null   object
 3   Provincia     3337 non-null   object
 4   Superficie    3337 non-null   float64
 5   Precio Venta  3337 non-null   float64
 6   Fecha Venta   3337 non-null   object
 7   Vendedor      3337 non-null   object
dtypes: float64(2), object(6)
memory usage: 208.7+ KB

In [40]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2747 entries, 0 to 3045
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    2747 non-null   object
 1   Tipo          2747 non-null   object
 2   Operación     2747 non-null   object
 3   Provincia     2747 non-null   object
 4   Superficie    2747 non-null   float64
 5   Precio Venta  2747 non-null   float64
 6   Fecha Venta   2747 non-null   object
 7   Vendedor      2747 non-null   object
dtypes: float64(2), object(6)
memory usage: 257.7+ KB

## **Convertir DataSet sin valores nulos a CSV**

In [41]:
#Convertir DF a CSV
data3.to_csv('inmuebles_sin_nulos.csv')