<a href="https://colab.research.google.com/github/cesarrivera52/Concentracion2/blob/main/Outliers/Act3.2/Rio%20de%20Janeiro/Parte%201/3_2_Parte1_LimpiezaDatos_Valores_Atipicos_Rio_De_Janeiro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importamos las libreerias pandas, numpy y matplotlib respectivamente
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo
data=pd.read_csv("listings.csv")

# Analisis de columnas

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34664 entries, 0 to 34663
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            34664 non-null  int64
 1   listing_url                                   34664 non-null  object
 2   scrape_id                                     34664 non-null  int64
 3   last_scraped                                  34664 non-null  object
 4   source                                        34664 non-null  object
 5   name                                          34664 non-null  object
 6   description                                   33501 non-null  object
 7   neighborhood_overview                         17016 non-null  object
 8   picture_url                                   34664 non-null  object
 9   host_id                                       34664 non-null  int64
 10  host_url                                      34664 non-null  object
 11  host_name                                     34664 non-null  object
 12  host_since                                    34664 non-null  object
 13  host_location                                 27869 non-null  object
 14  host_about                                    16551 non-null  object
 15  host_response_time                            28879 non-null  object
 16  host_response_rate                            28879 non-null  object
 17  host_acceptance_rate                          31089 non-null  object
 18  host_is_superhost                             33796 non-null  object
 19  host_thumbnail_url                            34664 non-null  object
 20  host_picture_url                              34664 non-null  object
 21  host_neighbourhood                            28779 non-null  object
 22  host_listings_count                           34664 non-null  int64
 23  host_total_listings_count                     34664 non-null  int64
 24  host_verifications                            34664 non-null  object
 25  host_has_profile_pic                          34664 non-null  object
 26  host_identity_verified                        34664 non-null  object
 27  neighbourhood                                 17016 non-null  object
 28  neighbourhood_cleansed                        34664 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      34664 non-null  float64
 31  longitude                                     34664 non-null  float64
 32  property_type                                 34664 non-null  object
 33  room_type                                     34664 non-null  object
 34  accommodates                                  34664 non-null  int64
 35  bathrooms                                     33824 non-null  float64
 36  bathrooms_text                                34623 non-null  object
 37  bedrooms                                      34526 non-null  float64
 38  beds                                          33822 non-null  float64
 39  amenities                                     34664 non-null  object
 40  price                                         33692 non-null  object
 41  minimum_nights                                34664 non-null  int64
 42  maximum_nights                                34664 non-null  int64
 43  minimum_minimum_nights                        34664 non-null  int64
 44  maximum_minimum_nights                        34664 non-null  int64
 45  minimum_maximum_nights                        34664 non-null  int64
 46  maximum_maximum_nights                        34664 non-null  int64
 47  minimum_nights_avg_ntm                        34664 non-null  float64
 48  maximum_nights_avg_ntm                        34664 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              34327 non-null  object
 51  availability_30                               34664 non-null  int64
 52  availability_60                               34664 non-null  int64
 53  availability_90                               34664 non-null  int64
 54  availability_365                              34664 non-null  int64
 55  calendar_last_scraped                         34664 non-null  object
 56  number_of_reviews                             34664 non-null  int64
 57  number_of_reviews_ltm                         34664 non-null  int64
 58  number_of_reviews_l30d                        34664 non-null  int64
 59  first_review                                  26218 non-null  object
 60  last_review                                   26218 non-null  object
 61  review_scores_rating                          26218 non-null  float64
 62  review_scores_accuracy                        26209 non-null  float64
 63  review_scores_cleanliness                     26209 non-null  float64
 64  review_scores_checkin                         26209 non-null  float64
 65  review_scores_communication                   26209 non-null  float64
 66  review_scores_location                        26209 non-null  float64
 67  review_scores_value                           26207 non-null  float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              34664 non-null  object
 70  calculated_host_listings_count                34664 non-null  int64
 71  calculated_host_listings_count_entire_homes   34664 non-null  int64
 72  calculated_host_listings_count_private_rooms  34664 non-null  int64
 73  calculated_host_listings_count_shared_rooms   34664 non-null  int64
 74  reviews_per_month                             26218 non-null  float64
dtypes: float64(18), int64(23), object(34)
memory usage: 19.8+ MB

## Eliminacion de columnas innecesarias

In [ ]:
data.drop(['listing_url','scrape_id','last_scraped','source','name','description','bathrooms_text','neighborhood_overview','picture_url','host_url','host_about','host_thumbnail_url','host_picture_url','neighbourhood_group_cleansed','bathrooms','amenities','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','calendar_updated','calendar_last_scraped','number_of_reviews_l30d','first_review','license','calculated_host_listings_count_entire_homes','last_review','calculated_host_listings_count_private_rooms','calculated_host_listings_count_shared_rooms'],axis=1,inplace=True)

In [ ]:
#Corregimos columna
data['price'] = data['price'].str.replace('$', '').str.replace(',', '').astype(float)

In [ ]:
data['host_acceptance_rate']=data['host_acceptance_rate'].str.replace('%', '').astype(float)
data['host_response_rate']=data['host_response_rate'].str.replace('%', '').astype(float)

In [ ]:
data['host_acceptance_rate']=data['host_acceptance_rate']/100
data['host_response_rate']=data['host_response_rate']/100

# Limpieza de DF

In [ ]:
#Corroboramos valores nulos
pd.options.display.max_rows= None
valores_nulos=data.isnull().sum()
valores_nulos

id                                    0
host_id                               0
host_name                             0
host_since                            0
host_location                      6795
host_response_time                 5785
host_response_rate                 5785
host_acceptance_rate               3575
host_is_superhost                   868
host_neighbourhood                 5885
host_listings_count                   0
host_total_listings_count             0
host_verifications                    0
host_has_profile_pic                  0
host_identity_verified                0
neighbourhood                     17648
neighbourhood_cleansed                0
latitude                              0
longitude                             0
property_type                         0
room_type                             0
accommodates                          0
bedrooms                            138
beds                                842
price                               972
minimum_nights                        0
maximum_nights                        0
maximum_maximum_nights                0
minimum_nights_avg_ntm                0
maximum_nights_avg_ntm                0
has_availability                    337
availability_30                       0
availability_60                       0
availability_90                       0
availability_365                      0
number_of_reviews                     0
number_of_reviews_ltm                 0
review_scores_rating               8446
review_scores_accuracy             8455
review_scores_cleanliness          8455
review_scores_checkin              8455
review_scores_communication        8455
review_scores_location             8455
review_scores_value                8457
instant_bookable                      0
calculated_host_listings_count        0
reviews_per_month                  8446
dtype: int64

## Separamos y limpiamos DF

In [ ]:
#Creamos 2 DF's para poder procesar los outliers
cuantitativas = data.select_dtypes(include=[int, np.float64])
cualitativas=data.select_dtypes(include=[object])

### Limpieza var. cuantitativas

In [ ]:
cuantitativas[['bedrooms']]=cuantitativas[['bedrooms']].fillna(round(cuantitativas[['bedrooms']].mean(),1))

In [ ]:
cuantitativas[['beds']]=cuantitativas[['beds']].fillna(round(cuantitativas[['beds']].mean(),1))

In [ ]:
cuantitativas[['price']]=cuantitativas[['price']].fillna(round(cuantitativas[['price']].mean(),1))

In [ ]:
cuantitativas[['review_scores_rating']]=cuantitativas[['review_scores_rating']].fillna(round(cuantitativas[['review_scores_rating']].mean(),1))

In [ ]:
cuantitativas[['review_scores_accuracy']]=cuantitativas[['review_scores_accuracy']].fillna(round(cuantitativas[['review_scores_accuracy']].mean(),1))

In [ ]:
cuantitativas[['review_scores_cleanliness']]=cuantitativas[['review_scores_cleanliness']].fillna(round(cuantitativas[['review_scores_cleanliness']].mean(),1))

In [ ]:
cuantitativas[['review_scores_checkin']]=cuantitativas[['review_scores_checkin']].fillna(round(cuantitativas[['review_scores_checkin']].mean(),1))

In [ ]:
cuantitativas[['review_scores_communication']]=cuantitativas[['review_scores_communication']].fillna(round(cuantitativas[['review_scores_communication']].mean(),1))

In [ ]:
cuantitativas[['review_scores_location']]=cuantitativas[['review_scores_location']].fillna(round(cuantitativas[['review_scores_location']].mean(),1))

In [ ]:
cuantitativas[['review_scores_value']]=cuantitativas[['review_scores_value']].fillna(round(cuantitativas[['review_scores_value']].mean(),1))

In [ ]:
cuantitativas[['reviews_per_month']]=cuantitativas[['reviews_per_month']].fillna(round(cuantitativas[['reviews_per_month']].mean(),1))

In [ ]:
cuantitativas[['host_response_rate']]=cuantitativas[['host_response_rate']].fillna(round(cuantitativas[['host_response_rate']].mean(),1))

In [ ]:
cuantitativas[['host_acceptance_rate']]=cuantitativas[['host_acceptance_rate']].fillna(round(cuantitativas[['host_acceptance_rate']].mean(),1))

In [ ]:
valores_nulos=cuantitativas.isnull().sum()
valores_nulos

id                                0
host_id                           0
host_response_rate                0
host_acceptance_rate              0
host_listings_count               0
host_total_listings_count         0
latitude                          0
longitude                         0
accommodates                      0
bedrooms                          0
beds                              0
price                             0
minimum_nights                    0
maximum_nights                    0
maximum_maximum_nights            0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
number_of_reviews                 0
number_of_reviews_ltm             0
review_scores_rating              0
review_scores_accuracy            0
review_scores_cleanliness         0
review_scores_checkin             0
review_scores_communication       0
review_scores_location            0
review_scores_value               0
calculated_host_listings_count    0
reviews_per_month                 0
dtype: int64

### Limpieza var. cualitativas

In [ ]:
cualitativas['host_location']=cualitativas['host_location'].fillna('Unknown location')

In [ ]:
cualitativas['host_response_time']=cualitativas['host_response_time'].fillna('Unknown time')

In [ ]:
cualitativas['host_is_superhost']=cualitativas['host_response_time'].fillna('Unknown')

In [ ]:
cualitativas['host_neighbourhood']=cualitativas['host_neighbourhood'].fillna('Unknown')

In [ ]:
cualitativas['neighbourhood']=cualitativas['neighbourhood'].fillna('Unknown')

In [ ]:
cualitativas['has_availability']=cualitativas['has_availability'].fillna('Unknown')

In [ ]:
valores_nulos=cualitativas.isnull().sum()
valores_nulos

host_name                 0
host_since                0
host_location             0
host_response_time        0
host_is_superhost         0
host_neighbourhood        0
host_verifications        0
host_has_profile_pic      0
host_identity_verified    0
neighbourhood             0
neighbourhood_cleansed    0
property_type             0
room_type                 0
has_availability          0
instant_bookable          0
dtype: int64

In [ ]:
cuantitativas.to_csv('Cuantitativas_Limpio.csv')

In [ ]:
cualitativas.to_csv('Cualitativo_Limpio.csv')