<a href="https://colab.research.google.com/github/cesarrivera52/Concentracion/blob/main/Valores%20Nulos/Act%202.1/2_1_ValoresNulos_Concentracion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
#Importamos librerias requeridas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## **Valores Nulos**

In [67]:
#Carga desde un archivo .xlsx sin indice
df= pd.read_csv('Ventas_totales.csv')

In [68]:
df['salon_ventas'].head()

0    27591730.13
1    25749179.40
2    27472228.72
3    28827479.49
4    27569311.41
Name: salon_ventas, dtype: float64

In [69]:
#Identificar valores nulos por columna
valores_nulos=df.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            6
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [70]:
#Identificar valores nulos por DF
valores_nulos=df.isnull().sum().sum()
valores_nulos

42

## **Métodos de Sustitución de Valores nulos**

En las columnas de a continuación se decidió utilizar el metodo fillna, con el numero de 0, esto con la finalidad de en caso de realizar alguna prueba o estudio, se sepa que los valores que tienen 0 como respuesta eran en el DF original valores nulos.

In [71]:
df['salon_ventas']=df['salon_ventas'].fillna(0)

In [84]:
df['tarjetas_debito']=df['tarjetas_debito'].fillna(0)
df['tarjetas_credito']=df['tarjetas_credito'].fillna(0)
df['otros_medios']=df['otros_medios'].fillna(0)

In [73]:
df['subtotal_ventas_alimentos_bebidas']=df['subtotal_ventas_alimentos_bebidas'].fillna(0)

In [74]:
df['bebidas']=df['bebidas'].fillna(0)

In [75]:
df['almacen']=df['almacen'].fillna(0)

In [76]:
df['lacteos']=df['lacteos'].fillna(0)

In [77]:
df['carnes']=df['carnes'].fillna(0)

In [78]:
df[['alimentos_preparados_rotiseria','indumentaria_calzado_textiles_hogar','electronicos_articulos_hogar','otros']]=df[['alimentos_preparados_rotiseria','indumentaria_calzado_textiles_hogar','electronicos_articulos_hogar','otros']].fillna(0)

En estas columnas se decidió remplazar los valores nulos con el metodo de forward fill, ya que los valores que contiene esta columna son valores con exponenciales

In [79]:
df[['panaderia','verduleria_fruteria']]=df[['panaderia','verduleria_fruteria']].fillna(method='ffill')

<ipython-input-79-7d2d6a62b76e>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[['panaderia','verduleria_fruteria']]=df[['panaderia','verduleria_fruteria']].fillna(method='ffill')

In [80]:
#Corroboramos valores nulos
valores_nulos=df.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  0
dtype: int64

In [83]:
#Convertir DF a CSV
df.to_csv('Ventas_Totales_sin_nulos.csv')